.input_wrapper {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.input {
  box-sizing: border-box;
  height: 32px;
  padding: 0 8px;
  background: white;
  border: 1px solid orange;
  border-radius: 2px;
  outline: none;
}

.input_label {
  margin-right: 12px;
}